@font-face {
    font-family: XingKai;
    src: url(font/XingKai.ttf)
}

@font-face {
font-family: ShouJin;
src: url(font/ShouJin.ttf)
}

@font-face {
    font-family: FanKai;
    src: url(font/FanKai.ttf)
}