/* :root {
    --md-text-font: "LXGW"; 
}
@font-face {  	
    font-family: 'LXGW';  	
    src: url('https://fastly.jsdelivr.net/gh/SmilingWayne/StaticResources@Fonts/fonts/LXGWWenKaiGBScreen.woff') format('woff');
} */

:root {
    --md-text-font: "JetBrains Mono", "LXGW WenKai Screen"; 
    --md-code-font: "JetBrains Mono";
  }
  

/* 
@font-face {
    font-display: auto;
    font-family: ShouJin;
    src: url(font/ShouJin.ttf)
}


@font-face {
    font-display: auto;
    font-family: XingKai;
    src: url(font/XingKai.ttf) 
}



@font-face {
    font-display: auto;
    font-family: FanKai;
    src: url(font/FanKai.ttf)
}

 */
